{% extends 'base.html' %}

{% block content %}
<h1>Groups</h1>

{% include 'partials/_alerts.html' %}

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Descriprion</th>
    <th>Actions</th>
  </tr>
  {% for group in groups %}
  <tr>
    <td>{{ group.pk }}</td>
    <td>{{ group.name }}</td>
    <td>
      {% if group.description %}
      {{ group.description }}
      {% endif %}
    </td>
    <td>
      <button class="update-group bs-modal btn btn-success" type="button" data-form-url="{% url 'group_edit' group.pk %}">Edit</button>
      <a href="{% url 'group_delete' group.pk %}" class="ml-2 btn btn-danger">Delete</a>
    </td>
  </tr>
  {% endfor %}
</table>

<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>

<div class="mt-3 d-grid gap-2">
  <button id="create-group" class="btn btn-primary" type="button" name="button">Create Group</button>
</div>


<script type="text/javascript">
  $(document).ready(function () {

    $("#create-group").modalForm({
      formURL: "{% url 'group_create' %}"
    });

    $(".update-group").each(function () {
      $(this).modalForm({formURL: $(this).data("form-url")});
  });
});
</script>

{% endblock %}